*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #root-entry {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column nowrap;

  background-color:#f3f3f3;
}

#root-entry > div {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
