*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #root-entry {
  font-family: 'Source Sans Pro', sans-serif;

  flex-flow: row nowrap;
  align-items:center;
  justify-content: center;

}

#root-entry > div {
  font-family: 'Source Sans Pro', sans-serif;

  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: center;

}

.alex-port-app{
  font-family: 'Source Sans Pro', sans-serif;

  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content: center;


}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media only screen and (max-width: 768px) {

  #root-entry > div {
    flex-flow: row wrap;

  }
  .alex-port-app{
    height: 100%;
    display: flex;
    flex-flow: row wrap;

  }

}
