@import '../../../styles/variables.css';
@import '../../../styles/fabric.css';

.container {
  width: 100%;
  font-family: HelveticaNeueW02-55Roma, Helvetica, Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.section {
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  height: 50px;
  background-color: var(--sectionGrey);
  color: var(--exLightGrey);
  -webkit-box-shadow: var(--shadowLv1);
  -moz-box-shadow: var(--shadowLv1);
  box-shadow: var(--shadowLv1);
  cursor: pointer;
}

.title{
  padding-left: 8px;
  font-size: 1.2em;
  font-weight: 200;
  flex-grow: 2;
}

.chevron{
  padding-right: 40px;
  color: var(--exLightGrey);
  font-size: 1em;
}

.trending-icon{
  font-weight: 600;
  padding-left:20px;
  color: var(--exLightGrey);
  font-size:1.2em;
}

.list-items {
  background-color: var(--exLightGrey);
  padding: 10px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  cursor: pointer;
}

.item {
  width: 100%;
  padding: 0 20px;
  line-height: 1.5em;
  font-size: 1.1em;
  font-weight: lighter;
  color: var(--trendingBlue);
}

.item:hover {
 background-color:var(--lightGrey);
}

.loading-items {
  padding: 20px;
  font-size: 1.2em;
  font-weight: lighter;
}
