@import '../../styles/variables.css';


.container {
  width:100%;


}


.myline {
  padding-top: 15px;
  border-left:none;
  border-bottom:1px solid;
  color: rgba(125,125,125, 0.2);

}

@media only screen and (max-width: 768px) {

  .myline {
    border-left:none;
    border-bottom:1px solid;
    color: rgba(125,125,125, 0.3);

  }

}
