@import '../../../../../styles/variables.css';


.container {
  margin-top: 10px;
  font-family: HelveticaNeueW02-55Roma, Helvetica, Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 0 -1px 0 0 var(--medGrey);
  -moz-box-shadow: 0 -1px 0 0 var(--medGrey);
  box-shadow: 0 -1px 0 0 var(--medGrey);
}

.item-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.item {
  width:100%;
  font-size: 1em;
  font-weight: 200;
  align-self: flex-start;
  padding: 10px 8px 0 20px;
}
.item:hover {
  background-color: var(--lightGrey);
}

.link {
  color: var(--trendingBlue);
  font-weight: 200;
  text-decoration: none;

}
