@import '../../styles/variables.css';




.myname {
  color: #008DCC;
  font-weight:500;
  margin: 30px 20px 0 40px;
  font-size: 1.5em;

}

.copy{
  font-size: 0.8em;
  color:var(--sectionGrey);
  margin: 10px 40px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {

  .myname {
  font-size: 1.2em;
  }

  .copy{
    font-size:0.5em;
  }

}


