@import '../../styles/variables.css';

.container{
  margin-left: auto;
  padding-right: 20px;
  padding-top: 15px;

}
.myemail {

  font-size: 1em;
  color: var(--medGrey);
  font-weight:lighter;
}

.myemail a {
  text-decoration: none;
  color: var(--medGrey);
}

@media only screen and (max-width: 768px) {



  .myemail {
    font-size: 0.8em;


  }

}
