@import '../../../../styles/variables.css';
@import '../../../../styles/fabric.css';


.container {
  width: 100%;
  font-family: HelveticaNeueW02-55Roma, Helvetica, Helvetica, Arial, sans-serif;
}

.card {
  width: 100%;
  background-color: var(--exLightGrey);
  margin: 0 0 12px 0;
  padding: 10px 10px;
  border-radius: 3px;
  display: flex;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  -webkit-box-shadow: var(--shadowLv1);
  -moz-box-shadow: var(--shadowLv1);
  box-shadow: var(--shadowLv1);
}

.card:hover {
  -webkit-box-shadow: var(--shadowLv2);
  -moz-box-shadow: var(--shadowLv2);
  box-shadow: var(--shadowLv2);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}

.title {
  font-weight: 500;
  font-size: 1em;
  color: var(--darkGrey);
  padding: 0 0 0 10px;
  flex-grow: 1;
}

.subtitle {
  padding-top: 5px;
  color: var(--darkGrey);
  font-weight: lighter;
}

.delete-icon {
  font-size: 1em;
  font-weight: 200;
  color: var(--activeGrey);
  align-self: center;
  padding-right: 10px;

}

.delete-icon:hover {
  font-weight: 600;
}
