@import '../../../styles/variables.css';
@import '../../../styles/fabric.css';

.container {
  padding-top: 1px;
  width: 100%;
  font-family: HelveticaNeueW02-55Roma, Helvetica, Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 50px;
  background-color: var(--sectionGrey);
  color: var(--exLightGrey);
  -webkit-box-shadow: var(--shadowLv1);
  -moz-box-shadow: var(--shadowLv1);
  box-shadow: var(--shadowLv1);
  cursor: pointer;
}

.title {
  padding-left: 8px;
  font-size: 1.2em;
  font-weight: lighter;
  flex-grow: 2;
}

.chevron {
  padding-right: 40px;
  color: var(--exLightGrey);
  font-size: 1em;
}
.support-icon{
  font-weight: 600;
  padding-left:20px;
  color: var(--exLightGrey);
  font-size:1.2em;
}
.support-container {
  padding: 20px;
  font-family: HelveticaNeueW02-55Roma, Helvetica, Helvetica, Arial, sans-serif;
  font-weight: 200;
}
