@import '../../../../styles/variables.css';
@import '../../../../styles/fabric.css';


.container {
  width: 100%;
}

.card {
  width: 100%;
  background-color: var(--exLightGrey);
  margin: 0 0 12px 0;
  padding: 10px 0 10px 0;
  border-radius: 3px;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  -webkit-box-shadow: var(--shadowLv1);
  -moz-box-shadow: var(--shadowLv1);
  box-shadow: var(--shadowLv1);
  cursor: pointer;
}

.card:hover {
  -webkit-box-shadow: var(--shadowLv2);
  -moz-box-shadow: var(--shadowLv2);
  box-shadow: var(--shadowLv2);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}

.title {
  font-size: 1em;
  font-weight: 500;
  color: var(--darkGrey);
  padding: 0 0 10px 0;
}

.subtitle {
  color: var(--darkGrey);
  padding: 0 20px;
  font-weight: lighter;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header__title {
  margin: auto 0;
  font-weight: 500;
  font-size: 1.1em;
  color: var(--darkGrey);
  padding: 0 10px 0 20px;
  flex: 2;
}
.header__count {
  font-weight: lighter;
  color: var(--exLightGrey);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.count__container{
  position: relative;
  margin-left: 20px;
  width: 35px;
  height: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  background-color: #006eb8;

}
.chevron {
  margin: auto 0;
  padding-right: 30px;
  color: var(--activeGrey);
  font-size: 1em;
}

